body {
    font-family: 'Times New Roman', serif;
    background-color: #f4f4f4;
    color: #333;
}
  
form {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.connectionState {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    margin: 10px; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 10px;
  }

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    margin: 10px; 
}

button:hover {
    background-color: #cc0000;
}

input {
display: block;
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 5px;
border: 1px solid #ddd;
text-align: center;
}

button {
background-color: #d30000;
color: white;
border: black;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #630000;
}

.deconnection-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1; 
}
.deconnection-button:hover{
    background-color: #363636;
}

table {
    margin:  auto;
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: none;
    padding: 8px;
    text-align: left; 
  }

  th {
    background-color: #aaaaaa; 
  }


.waiting-room-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    margin: 20px auto;
}


.waiting-room-container {
    text-align: center; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.waiting-room-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.waiting-room-container p {
    color: #ff0015;
    margin-bottom: 20px;
}

.waiting-room-container button {
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    margin: 10px;
    display: inline-block; 
}

.waiting-room-container button:hover {
    background-color: #1d3557;
}

.waiting-room-container .chat-component {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style général pour le plateau de jeu */
.battle-game-board {
    background-image: linear-gradient(to right, #0a0a0a, #1c1c1c); /* Dégradé foncé */
    color: #ececec; /* Couleur claire pour le texte */
    min-height: 100vh; /* Hauteur minimale à 100% de la fenêtre */
    width: 100%; /* Largeur à 100% */
    padding: 0px;
    border-radius: 0px; /* Bordures arrondies */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Ombre portée */
    position: absolute; /* Positionnement absolu */
    top: 0; /* Aligné en haut */
    left: 0; /* Aligné à gauche */
    z-index: -1; /* Placé derrière les autres éléments */
}

/* Style pour chaque joueur */
.battle-player {
    background-color: #262626; /* Couleur de fond sombre pour chaque joueur */
    color: #f0f0f0; /* Couleur du texte claire */
    padding: 15px 20px;
    border-radius: 10px; /* Coins arrondis */
    text-align: center;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); /* Ombre portée */
}

.BattleBody {
    color : white;
}


.CardHand {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1); 
    }
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-container {
    background-color: #000000; 
    color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }
  
  .result-section {
    margin-bottom: 20px;
  }
  
  .result-section h2 {
    color: #ffffff;     
    margin-bottom: 10px;
  }
  
  .player-info {
    background-color: #999999; 
    color: #fff; 
    padding: 15px;
    margin-bottom: 15px;    
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .player-info p {
    margin: 5px 0;
  }
  


.boss {
    background-color: #262626; /* Couleur de fond sombre pour chaque joueur */
    color: #f0f0f0; /* Couleur du texte claire */
    padding: 15px 20px;
    border-radius: 10px; /* Coins arrondis */
    margin: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); /* Ombre portée */
    width: 250px;
    height: 180px;
}

hr{
    width: 100%;
}

#id_join > input{
    width: 70%;
}
#id_join{
    display: flex;
}


#howtoPlay.div {
    font-family: Arial, sans-serif;
}

#howtoPlay.h1 {
    color: #FF0000;
}

#howtoPlay.h2 {
    color: #0000FF;
}

#howtoPlay.p {
    color: #008000;
}
#home {
    margin: auto;
}